// scss variables
@import "./theme";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Silkscreen:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $primaryFontSize;
  font-family: $primaryFontFamily;
  background-color: $primary200;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

button {
  display: flex;
  border-radius: $ButtonBorderRadius;
  cursor: pointer;
  background-color: $primary800;
  color: white;
  border: none;
  font-family: $primaryFontFamily;
  font-size: $ButtonFontSize;
  line-height: $ButtonLineHeight;
  padding: $ButtonPadding;
  font-weight: $ButtonFontWeight;
}

button:hover {
  background-color: $primary700;
}

button:active {
  background-color: $primary800;
}
