// scss variables
@import "./theme";
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $primaryFontSize;
  font-family: $primaryFontFamily;
  background-color: $primary200;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

button {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: $primary800;
  color: white;
  border: none;
  font-size: $primaryFontSize;
  font-family: $primaryFontFamily;
  line-height: 24px;
}

button:hover {
  background-color: $primary700;
}

button:active {
  background-color: $primary800;
}
