// text
$primaryFontFamily: "Crimson Text", sans-serif;
$primaryFontSize: 16px;
$LogoFontFamily: "Silkscreen", sans-serif;

// colors
$primary800: #252626;
$primary700: #3e3f40;
$primary600: #969799;
$primary300: #e6e7e8;
$primary200: #f5f6f7;
$primary100: #ffffff;

// button
$ButtonFontSize: 16px;
$ButtonLineHeight: 24px;
$ButtonPadding: 10px 12px;
$ButtonBorderRadius: 10px;
$ButtonFontWeight: 600;
