// text
$primary-font: "Silkscreen", sans-serif;
$primary-text-size: 16px;

// colors
$primary800: #252626;
$primary700: #3e3f40;
$primary600: #969799;
$primary300: #e6e7e8;
$primary200: #f5f6f7;
$primary100: #ffffff;
